tabs a {
  float:left;
  color:white;
  text-align:center;
  font-family:'Comfortaa';
  text-decoration:none;
  font-size:30px;
  background-color:mediumseagreen;
  width:20%;
  margin-top:0px;
}
a.active {
  background-color:#3ba365;
}
a:hover {
  background-color:#3ba365;
}
body {
  background-color:#31343a;
}
img {
  max-height:20%;
  max-width:20%;
}
h1 {
  font-weight:bold;
  font-size:50px;
  margin-top:50px;
  color:#d7efef;
  font-family:'Comfortaa';
}
h2 {
  font-family:'Comfortaa';
  color:#d7efef;
}
p {
  font-family:'Comfortaa';
  color:#d7efef;
}
#footer {
  font-size:10px;
}
#link {
  text-decoration:none;
  color:mediumseagreen;
}
