body {
  margin: 0;
}
a {
  color:mediumaquamarine;
}
.tab {
  float:left;
  color:white;
  text-align:center;
  font-family:'Comfortaa';
  text-decoration:none;
  font-size:30px;
  background-color:mediumseagreen;
  width:20%;
  margin-top:0px;
}
a.active {
  background-color:#3ba365;
}
.tab:hover {
  background-color:#3ba365;
}
body {
  background-color:#31343a;
}
img {
  max-height:20%;
  max-width:20%;
}
h1 {
  margin-left: 5vw;
  font-weight:bold;
  font-size:50px;
  margin-top:50px;
  color:#d7efef;
  font-family:'Comfortaa';
}
h2 {
  margin-left: 5vw;
  font-family:'Comfortaa';
  color:#d7efef;
}
p {
  margin-left: 5vw;
  font-family:'Comfortaa';
  color:#d7efef;
}
.footer {
  margin-left: 5vw;
  font-size:10px;
  font-style:italic;
}
